body {
    background-color: #0a0a23;
}

#text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
}

#game {
    max-width: 500px;
    max-height: 400px;
    color: #ffffff;
    background-color: #ffffff;
    margin: 30px auto 0px;
}

#stats, #controls {
    color:#0a0a23;
    padding: 5px;
    border: 1px solid;
}

#monsterStats {
    color: #ffffff;
    background-color: #c70d0d;
    padding: 5px;
    border: 1px solid;
}